name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Application
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Tests unitaires
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        cd src
        pip install -r requirements.txt

    - name: Download NLTK resources
      run: |
        python -c "import nltk; nltk.download('punkt'); nltk.download('wordnet'); nltk.download('stopwords'); nltk.download('averaged_perceptron_tagger')"

    - name: Run unit tests
      run: |
        cd tests
        python -m pytest test_text_preprocessing.py

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
        
    - name: Deploy to EC2
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.USERNAME }}@${{ secrets.HOST }} << EOF
          # Naviguer vers le dossier de l'application
          cd /home/ubuntu/deep_learning_bad_buzz_detection/src
          # Arrêter Uvicorn
          pkill -f "uvicorn my_fastapi_app:app"
          # Mettre à jour le code source
          git pull
          # Installer les dépendances
          pip3 install -r requirements.txt
          # Relancer Uvicorn
          nohup uvicorn my_fastapi_app:app --host 0.0.0.0 --port 8000 > /home/ubuntu/deep_learning_bad_buzz_detection/src/uvicorn.log 2>&1 &
        EOF